<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.myget.org/F/nsgconnector/api/v2" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUjg1sjgDokqejtJJJyQ4TwAAAAACAAAAAAADZgAAwAAAABAAAAA142/TUdB9JdtvODVxP/1eAAAAAASAAACgAAAAEAAAALe8S48DHZaQ1yOuhk0LALQoAAAA9eDtRDWvecFA5j8o9A2lA3n0ZuS7YiDNpKYv7ahnBOAvswhP4P/bxhQAAACMaq3HZu+oJ6kIut13hZ/Z2j4HWA==" />
  </apikeys>
  <packageSources>
    <add key="MyGet - MMS.Development" value="https://www.myget.org/F/mms-development/api/v3/index.json" />
    <add key="MyGet - ns.wow" value="https://www.myget.org/F/nsgconnector/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="NuGet v3.x" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGet v2.x" value="https://www.nuget.org/api/v2/" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <NSGConnector>
      <add key="Username" value="nsgroup-entwicklung" />
      <add key="ClearTextPassword" value="RT3If4ssRyePU7nHUHZK" />
    </NSGConnector>
  </packageSourceCredentials>
</configuration>